[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
blackfire = ">=1.5.6"
Django = ">=3.2.0,<4.0"
platformshconfig = "~=2.0"
gunicorn = "*"
requests = "*"
Jinja2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
